.button{
  border: 1px solid transparent;
  cursor: pointer;
  block-size: 3.25rem;
  text-align: center;
  padding-inline: 2.875rem ;
  font: var(--button);
  color: var(--light);
  border: none;
  border-radius: 5rem;
  transition: transform .3s;
}

.button:hover{
  transform: scale(1.1);
}

.button:active{
  transform: scale(.9);
}

.button.is-primary{
  background-color: var(--primary);
  border: 1px solid transparent;

}

.button.is-secondary{
  background-color: var(--light);
  border: 1px solid transparent;
  color: var(--black);
}