@import './menu-mobile.css';

.header-mobile{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  block-size: 7.4375rem;
  gap: 1rem;
}

.header-logo img{
  vertical-align: middle;
}

.header-desk{
  display: none;
}

.header-mobile .button-mobile{
  background-color: transparent;
  border: none;
  padding: none;
  cursor: pointer;
}

.header-mobile .button-mobile i{
  font-size: 32px;
}

@media screen and (min-width: 1187px) {
  .header-desk{
    display: flex;
    align-items: center;
    justify-content: space-between;
    block-size: 7.4375rem;
    gap: 1rem;
  }

  .header-mobile{
    display: none;
  }
}