@import './header-bar.css';

.heroScreen{
  display: flex;
  inline-size: 100%;
  max-inline-size: 70rem;
  flex-direction: column;
  justify-content: center;
}

.heroScreen-dashboard{
  max-block-size: 1120px;
  
}

.heroScreen-dashboard img{
  vertical-align: center;
  inline-size: 100%;
  object-fit: cover;
}