.menu-mobile{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  padding-inline: 1.25rem;
  position: absolute;
  top: 7.4375rem;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) -12.2%, rgba(0, 225, 198, 0.06) -12.2%, rgba(74, 234, 214, 0.334196) -12.2%, #ffffff 90.86%);
  z-index: 5;
  padding-block-start: 1rem;
}

.menu-mobile-buttons{
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  gap: 1rem;
}

.menu-mobile .footer-social{
  inline-size: 100%;
}

.menu-mobile .footer-social ul{
  justify-content: center;
}


