.menu-mobile{
  display: flex;
  block-size: 0;
  overflow: hidden;
  background-color: #ffffff;
  flex-direction: column;
  align-items: flex-start;
  padding-block-start: 119px;
  gap: 4rem;
  padding-inline-start: 1.25rem;
  padding-inline-end: 1.25rem;
  position: absolute;
  inset: 0;
  z-index: 5;
}

.menu-mobile.is-close{
  block-size: 0;
  overflow: hidden;
  background-color: #ffffff;
  transition: all .3s linear;
}

.menu-mobile.is-open{
  block-size: 100%;
  background: linear-gradient(180deg, rgb(255, 255, 255) -12.2%, rgb(0, 225, 199) -12.2%, rgb(74, 234, 215) -12.2%, #ffffff 90.86%);
  transition: all .3s linear;
}

.menu-mobile-buttons{
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  gap: 1rem;
}

.menu-mobile .footer-social{
  inline-size: 100%;
}

.menu-mobile .footer-social ul{
  justify-content: center;
}


