#products{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block:  3.875rem;
  gap: 1rem;
  text-align: center;
}

#products .section-title{
  font: var(--secondheadline);
  color: var(--firsttext);
}

#products .section-subtitle{
  display: inline-block;
  inline-size: 100%;  
  max-inline-size: 44.1875rem;
}

#products .section-buttons{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  inline-size: 100%;
  /* justify-content: center; */
  margin-block-start: 3.6875rem;  
}

@media screen and (min-width: 1187px) {
  #products{
    padding-inline: .375rem
  }

  #products .section-buttons{
    flex-direction: row;
    justify-content: center;
  }
    
}