.testimonial{
  position: relative;
  padding: 6.9375rem 1rem;
  padding-block-end: 3.125rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  gap: 3.125rem;
}

.testimonial p{
  display: inline-block;
  inline-size: 100%;
  max-inline-size: 30.875rem;
}

.testimonial-user{
  display: flex;
  text-align: left;
  gap: .8125rem;
}

.user-details span{
  display: block;
}

.user-name{
  font: var(--link);
  color: var(--firsttext);
}

.user-vocation{
  font: var(--subtitle);
  color: var(--secondtext);
}

.testimonial::after{
  content: '';
  display: block;
  position: absolute;
  background-color: var(--secondary2);
  inline-size: 500px;
  block-size: 400px;
  bottom: 0;
  border-radius: 50%;
  transform: translate(50%, 80%); 
  z-index: -1;
}

@media screen and (min-width: 1187px) {
  .testimonial{
    padding: 0;
    block-size: 100vh;
    inline-size: 100vh;
  }  

  .testimonial::after{
    left: 100%;
    transform: translate(25%, 70%); 
  }
}